/node_modules
/.vscode
/protoc

/common/Datasource.js
/common/models/*.js
/common/cdnize/Uploader.js
/common/cdnize/Downloader.js
/common/cdnize/Integrity.js
/tests/backend/FakeRes.js
/utils/*.js
/whigi/user.js
/whigi/data.js
/whigi-restore/mapping.js
/whigi-giveaway/mapping.js
/whigi-rli/mapping.js