/node_modules
/.vscode
/protoc

/common/Datasource.js
/common/models/*.js
/common/cdnize/RLIUploader.js
/common/cdnize/RLIDownloader.js
/common/cdnize/Integrity.js
/common/cdnize/CCDownloader.js
/common/cdnize/CCUploader.js

/tests/backend/FakeRes.js
/utils/*.js
/whigi/user.js
/whigi/data.js
/whigi-restore/mapping.js
/whigi-giveaway/mapping.js
/whigi-rli/mapping.js
/whigi-cc/mapping.js